@*@model IEnumerable<WebRaoVat.Models.BaiDang>*@
@using WebRaoVat.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<BaiDang>
@{
    ViewBag.Title = "QuanLyBaiDang";
    Layout = "~/Views/Shared/_LayoutTinhTrangBaiDang.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<h2>@ViewBag.TrangThaiBD</h2>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-6 col-md-3 col-lg-3">
            <div href="" class="card card-hover" style="height:330px; margin-top:20px" onclick="location.href='@Url.Action("ChiTietBaiDang", "Admin", new { maBaiDang = item.maBaiDang })'">
                @foreach (var i in ViewBag.Hinh)
                {
                    if (item.maBaiDang == i.maBaiDang)
                    {
                        <img src="@Url.Content(i.path)" alt="Alternate Text" style="height:55%; overflow:hidden" />
                        break;
                    }
                }
                <div class="card-body" style="width: 100%">
                    @if (item.tieuDe.ToString().Length > 44)
                    {
                        <p class="card-text">
                            @item.tieuDe.ToString().Substring(0, 44) ...
                        </p>
                    }
                    else
                    {
                        <p class="card-text"> @item.tieuDe</p>

                    }
                    @if (@item.gia.ToString().Length > 10)
                    {
                        <p> @item.gia.ToString().Substring(0, @item.gia.ToString().Length - 9) tỷ VNĐ</p>
                        <p style="font-size:0.9em">Lượt xem: @item.luotXem</p>
                    }
                    else
                    {
                        <p>@String.Format("{0:0,0 VNĐ}", item.gia)</p>
                        <p style="font-size:0.9em">Lượt xem: @item.luotXem</p>
                    }
                </div>
            </div>
        </div>
    }
</div>
    <div class="MenuPage">
        @Html.PagedListPager(Model, page => Url.Action("QuanLyBaiDang", new { page = page, maTrangThai = ViewBag.TrangThai }))
    </div>
<style>
    .card-hover:hover {
        background-color: white;
        color: black;
        box-shadow: 3px 2px 10px gray;
        cursor: pointer;
    }

    .card-text {
        color: gray;
    }
</style>